backports.weakref==1.0rc1
bleach==1.5.0
cycler==0.10.0
Cython==0.25.2
Django==1.11.2
funcsigs==1.0.2
functools32==3.2.3.post2
html5lib==0.9999999
importlib==1.0.4
Markdown==2.6.8
matplotlib==2.0.2
mock==2.0.0
numpy==1.13.0
olefile==0.44
opencv-python==3.2.0.7
pbr==3.1.1
Pillow==4.2.0
pkg-resources==0.0.0
protobuf==3.3.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
runcython==0.2.5
scipy==0.13.0
six==1.10.0
subprocess32==3.2.7
tensorflow==1.2.1
virtualenv==15.0.1
Werkzeug==0.12.2