{% load static %}

<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Pipeline Web App</title>

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/static/js/script.js"></script>

</head>

<!-- initialize the canvas with the image on body load -->
<body onload="initialize();">

<div>
	<canvas id="canvas" width="400" height="400"></canvas>
	<input type="button" id="next" value="next"/>
	<button id="save" onclick="save_canvas('save_image');"> save </button>
</div>

<script>
 




</script>

</body>
</html>