{% load static %}

<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Pipeline Web App</title>

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/static/js/script.js"></script>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
canvas {
    margin: 10px;
    padding: 5px;
}
</style>
</head>
<body>

<nav class="navbar navbar-default" style="background-color: #449d44;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/draw" style="color:black">AnnotationML</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/draw/view" style="color:white">View annotated images without NMS</a></li>
      <li><a href="/draw/viewNMS" style="color:white">View annotated images with NMS</a></li>
      <li><a href="/draw/downloadall" style="color:white">Download all images</a></li>
      <li><a href="/draw/download" style="color:white">Download annotated images without NMS</a></li>
      <li><a href="/draw/downloadNMS" style="color:white">Download annotated images with NMS</a></li>
    </ul>
  </div>
</nav>

{% if not trainingMap %}
<div class="row">
	<div class="col-sm-5 col-sm-offset-5">
		<h3> No annotated images saved </h3>
	</div>
</div>
{% endif %}
<div id="imagesGoHere">
	 
</div>

<script>
// the script draws bounding boxes for the annotated images. This is
// because we do not save the images with bounding box in them in a 
// folder as it will take up a lot of space and bandwidth. Hence, we draw
// the bounding box whenever the user needs to look at the annotated images

// get data from csv file for each image; Added safe keyword to avoid
// XSS attacks
var myJSVar = "{{ trainingMap|safe }}";
var jsonObj = eval('(' + myJSVar + ')');

var html = '';

// creating canvas elements using injection 
for (var obj1=0;obj1<jsonObj.length;obj1++)
{	
	html+= '<canvas id=image_'+obj1+'></canvas>';
	document.getElementById("imagesGoHere").innerHTML = html;
}

// draws 'N' bounding box(es) on each image based on the
// coordinates and dimensions saved in the .csv file
// the bounding boxes are drawn by the users
function drawRect(context, index){
	context.beginPath();

	// get the no. of rectangles on each image; it's a 6-tuple
	var numRectangles = 0
	if(jsonObj[index]['bounding_box'] != undefined)
		numRectangles = jsonObj[index]['bounding_box'].length/6;

	for(var j=0; j<numRectangles; j++)
	{	
		// get the x0,y0,width,height numbers based on the rectangle number
		context.rect(jsonObj[index]['bounding_box'][(6*j)+0], jsonObj[index]['bounding_box'][(6*j)+1], jsonObj[index]['bounding_box'][(6*j)+4], jsonObj[index]['bounding_box'][(6*j)+5]);

		context.lineWidth = 1;
		context.strokeStyle = 'red';
		context.stroke();
	}
   
}

// resize the canvas to fit the image dimensions for each image
function resizeCanvas(canvas, imageObj) {
    canvas.width = imageObj.width;;
    canvas.height = imageObj.height;
}

// draw image for each function. the context is the
// canvas's context and index is the canvas index
function draw(canvas, context, index)
{
	
	var imageObj = new Image();
	imageObj.onload = function () { 
		// load the image first 
		resizeCanvas(canvas, imageObj);
		context.drawImage(imageObj, 0,0); 

		// annotate with bounding box second
		drawRect(context, index);
	};
		
	imageObj.src = '/static/media/'+jsonObj[index]['image_name'];   
}

// loop through the training dataset and draw saved images
// on the canvas
var i = 0;
	while (document.getElementById("image_" + i)) {
		$("#img_name_"+i).text(jsonObj[i]['image_name'])
		draw(document.getElementById("image_" + i), document.getElementById("image_" + i).getContext("2d"), i);
		i++;       
	}

</script>
</body>
</html>