body{
	background-color: #F8F8F8
}
#canvas {
       
        margin-right: auto;
        margin-left: auto;
       
    }
.container {
        margin-top: 75px;
    }

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    /*padding: 10px 20px;*/
    width: 40px;
    height: 40px;
    background-image: url('/static/img/next_arrow.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

a:hover{ 
    background-color: transparent;
}

.button-design {
	margin-top: 100px;
}